

div#footer {
  background-color: #096975;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: 'Redressed', cursive;
  
}

 // font-family: 'Abel', sans-serif;
    // font-family: 'Dancing Script', cursive;
    //// font-family: 'Gideon Roman', cursive;
    // font-family: 'Imperial Script', cursive;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Mea Culpa', cursive;
    // font-family: 'Moon Dance', cursive;
    // font-family: 'Oooh Baby', cursive;
    // font-family: 'Open Sans', sans-serif;
    ///// font-family: 'Redressed', cursive;
    // font-family: 'Ubuntu', sans-serif;
    // font-family: 'Waterfall', cursive;