
@import 'StyleVars.scss';


div.hamburger-menu {
  position: relative;
  color: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin-right: 10px;
  z-index: inherit;


  div.hamburger-slice {

    position: absolute;
    width: 1.8rem;
    height: 4px;
    color: white;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;


    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 1.8rem;
      height: 4px;
      color: white;
      background-color: white;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;

    }

    &::before {
      transform: translateY(-0.6rem);
    }

    &::after {
      transform: translateY(0.6rem);
    }
  }
}

@media screen and (min-width: 601px) {
  
  div.hamburger-menu {
    display: none;
    // position: absolute;
  }
  
}

//////////

div.hamburger-menu.open {

  div.hamburger-slice {
    transform: translateX(-50px);
    background: transparent;
  }
}

// @media screen and (min-width: 601px) {
  
//   div.hamburger-menu.close, div.hamburger-menu.open{
//     transform: translateX(0px);  
//   }
  
// }


div.hamburger-menu.open {

  div.hamburger-slice::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  div.hamburger-slice::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
}





div.mobile-nav {
  // border: 5px solid green;
  position: fixed;
  top: 55px;
  right: 0;
  padding: 0;
  height: calc(100vh - 55px);
  // background: rgba(233, 26, 26, 0.63);
  color: white;
  transition: all 0.5s ease-out;
  width: 100%;
  margin: 0 auto;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  background-color: rgba(160, 157, 157, 0.514);
  

  ul.nav-list {
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;    

    li {
      // border: 2px solid red;
      width: 100%;
      border-bottom: 1px solid black;

      &:first-child {
        border-top: 2px solid black;
      }

      a {
        // border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        padding: 8px;
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in-out;
        font-family: 'Lora', serif;

        &:hover {
          background-color: rgba(0, 0, 0, 0.747);
          transition: all 0.2s ease-in-out;
        }
        div.item_icon {
          font-size: 1.2rem;
        }     

        div.item_title {
          // border: 2px solid green;
          word-spacing: 1px;
          font-size: 1rem;
        }
      }    
    }
  }
}

@media screen and (min-width: 601px) {
  
  div.mobile-nav {
    // border: 2px solid red;
    top: 0;
    position: absolute;
    background-color: transparent;
    height: max-content;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    

    ul.nav-list {
      // border: 2px solid red;
      display: flex;
      flex-direction: row;
      justify-content: right;
      padding-right: 30px;
      height: 55px;
      gap: 10px;
      // width: max-content;

      li {
        width: max-content;
        
        // border: 4px solid black;
        // border: none;
  
        &:first-child {
          border-top: none;
        }


        a {
          // border: 2px solid green;
          padding: $buttonPaddings;
          border: $buttonBorder;
          font-family: $buttonFontFamily;

          div.item_icon {
            display: none;
          }
  
  
          &:hover {
            background-color: white;
            transition: all 0.2s ease-in-out;
            color: black;
          }       
  
          div.item_title {
            font-size: $buttonFontSize;
  
          }
        }    
      }

    }
  }
  
}



.mobile-nav.close {
  transform: translateX(105vw);
}

@media screen and (min-width: 601px) {
  .mobile-nav.close {
    transform: translateX(0px);
  }
}


div.nav_btns {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  // flex-direction: row;


  div.btn {
    // border: 2px solid blue;


    a {
      // border: 8px solid blue;
      text-decoration: none;
      color: inherit;
      font-weight: 600;
      letter-spacing: 0.15rem;
    }


    p.btn_text {
      border: $buttonBorder;
      padding: $buttonPaddings;
      font-family: $buttonFontFamily;
      margin-bottom: 10px;
      transition: all 0.3s ease-in-out;


      &:hover {
        color: black;
        background-color: white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}


@media screen and (min-width: 601px) {

  div.nav_btns {
    display: none;
  }
  
}

@media screen and (min-width: 1020px) {

  div.nav_btns {
    // border: 2px solid red;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: fixed;
    top: 0;
    right: 40%;
    margin: 0 auto;

    div.btn {
      // border: 2px solid yellow;
      margin: 0 auto;
      padding: 0;

      p.btn_text {
        margin-bottom: 0;
      }
    }



    p.info {
      display: none;
    }
  }
  
}



