

div.header {
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.247);
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  z-index: 2;

  // font-family: 'Abel', sans-serif;
  // font-family: 'Dancing Script', cursive;
  // font-family: 'Gideon Roman', cursive;
  // font-family: 'Imperial Script', cursive;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Mea Culpa', cursive;
  // font-family: 'Moon Dance', cursive;
  // font-family: 'Oooh Baby', cursive;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Redressed', cursive;
  // font-family: 'Ubuntu', sans-serif;
  // font-family: 'Waterfall', cursive;
}