

div.header {
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.247);
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  z-index: 2;

 
}