

.logo {
  // border: 2px solid blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-family: 'Lora', serif;


    h1 {
      font-size: 1.4rem;
      font-weight: 200;
    }
  
    &-box {
      width: 1.2rem;
      height: 1.2rem;
      border: 3px solid white;
      // display: inline-block;
    }  
}