$buttonPaddings: 7px 15px;
$buttonFontFamily: 'Redressed', cursive;;
$buttonFontSize: 1.2rem;
$buttonFontWeight: 400;
$buttonBorder: 4px solid white;



div.section-header {
  // border: 2px solid red;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding: 10px; 
  font-family: 'Gideon Roman', sans-serif;  

}

  // font-family: 'Abel', sans-serif;
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Gideon Roman', cursive;
    // font-family: 'Imperial Script', cursive;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Mea Culpa', cursive;
    // font-family: 'Moon Dance', cursive;
    // font-family: 'Oooh Baby', cursive;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Redressed', cursive;
    // font-family: 'Ubuntu', sans-serif;
    // font-family: 'Waterfall', cursive;