@import 'StyleVars.scss';


div.swiper-button-next, div.swiper-button-prev {
  color: white;
}

span.swiper-pagination-bullet {
  background-color: white;

}
div.works {
  background-color: #31c4d8;
  background-color: #096975;
  margin: 0;
  padding: 20px;
  color: white;

  div.section-header {
    color: white;
  }
}

div.projects-container {
  // border: 2px solid red;
  // margin: 0 0 20px 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 70vh;
  // min-height: max-content;
}



.project_card {
  // border: 2px solid red;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-family: 'Lora', sans-serif;

  div.project_card-container {
    // border: 2px solid green;
    min-height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: #096975;
    box-shadow:  9px 9px 8px #02606d,
             -9px -9px 8px #0c808f;


    .project_title {
      // border: 2px solid red;
      font-size: 1.5rem;
      text-transform: uppercase;
      width: 100%;
      padding: 10px 0;
      font-weight: bold;
      border-bottom: 4px solid white;
      // border-bottom: 4px solid rgb(46, 148, 243);
      // rgb(46, 148, 243)
      margin: 0;
    }


    .project_description {
      // border: 2px solid red;
      padding: 0 20px;
      line-height: 1.5rem;
      font-size: 1.1rem;
      text-align: justify;
    }

    
    .links {
      // border: 2px solid blue;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      font-size: 200%;


      a {
        // border: 2px solid red;
        width: 50%;
        padding: 5px;
        align-self: center;
        transition: all 0.2s ease-in-out;
        // color: rgb(46, 148, 243);
        color: white;

        
        &:nth-child(1) {
          border-bottom-left-radius: 25px;
        }


        &:nth-child(2) {
          border-bottom-right-radius: 25px;
        }


        &:hover {
          background-color: white;
          transition: all 0.2s ease-in-out;
          color: #096975;
        }
      }
    }
  }
}


@media screen and (min-width: 601px) {

  // .projects-container {
  //   margin: 0 30%;
  // }
  div.works {
    padding: 20px 0;
  }

  // .project_card {


  //   // div.project_card-container {
  //   //   border: 5px solid green;
  //   //   // width: 70%;
  //   // }
  // }
}

@media screen and (min-width: 1020px) {
  div.works {
    padding: 20px 20%;
  }
}